/* Ana kapsayıcı */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

/* Başlık */
.title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 90%;
  line-height: 1.5;
  color: rgb(44, 39, 33);
}

/* Header */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
}

/* Form */
.form-container {
  width: 100%;
  max-width: 100%;
  background-color: #f3f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  box-sizing: border-box;
}

/* Küçük ekranlar için düzenlemeler */
@media (max-width: 768px) {
  .title {
    font-size: 1rem;
    margin-bottom: 12px;
  }

  .header {
    margin-bottom: 12px;
  }

  .form-container {
    padding: 16px;
  }
}
